.DiaryEditor {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.DiaryEditor input, textarea {
  margin: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 150px;
}

.DiaryEditor select {
  margin-bottom: 20px;
  width: 50px;
  height: 30px;
}

.DiaryEditor option {
  text-align: center;
}

.DiaryEditor button {
  width: 100px;
  height: 30px;
  cursor: pointer;
}